* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  padding-left: 24px;
}

h1 {
  font-size: 44px;
  text-align: center;
}

h1,
h2,
h3,
ol,
ul {
  margin-bottom: 30px;
}

img {
  display: flex;
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 60px;
}

ul,
ol {
  list-style-position: inside;
  line-height: 1.5;
}

p {
  font-size: 16px;
  margin-bottom: 24px;
}
